@import "./utils/variables";
@import "./utils/fonts";
@import "./base";
@import "./utils/texts";
@import "./utils/utils";
@import "./utils/mixins";

@import "./components/buttons";
@import "./components/carousel-button";
@import "./components/chef-card";
@import "./components/format-card";
@import "./components/input";
@import "./components/links";
@import "./components/pagination";

@import "./layouts/advantages-section";
@import "./layouts/container";
@import "./layouts/chefs-section";
@import "./layouts/footer";
@import "./layouts/form-terms";
@import "./layouts/formats-section";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/mobile-menu";
@import "./layouts/modal";
@import "./layouts/section";
@import "./layouts/traditions-section";
@import "./layouts/contact-section";

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
